HOST=localhost
PORT=8080

PG__HOST=localhost
PG__PORT=5432
PG__USER=postgres
PG__DBNAME=news_portal
PG__PASSWORD=
POSTGRES_URL="postgres://${PG__USER}:${PG__PASSWORD}@${PG__HOST}:${PG__PORT}/${PG__DBNAME}"

PGDATA=./pgdata
INIT_DB_OPTIONS="-p ${PG__PORT}"
TEST_DBNAME=news_portal_test


JWT_SECRET="jwt_secret"
COOKIE_SECRET="cookie_secret"
